{% extends 'base-profile.html.twig' %}


{% set title = 'Mon profil - Information' %}


{% block profileBody %}
    <div class="card">
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ app.user.information.name }}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>{{ app.user.information.phoneNumber }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>
                        {{ app.user.information.address1 }} <br>
                        {{ app.user.information.address2 }} <br>
                        {{ app.user.information.address3 }}
                    </td>
                </tr>
                <tr>
                    <th>Code postal</th>
                    <td>{{ app.user.information.postCode }}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{ app.user.information.city }}</td>
                </tr>
                </tbody>
                <tfoot>
                    <tr>
                      <td colspan="100%" class="text-end">
                          <a href="{{ path('APP_PROFILE_INFORMATION_EDIT') }}" class="btn btn-primary">
                              Modifier
                          </a>
                      </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
