{% extends 'base-profile.html.twig' %}


{% set title = 'Mon profil - Paiements' %}

{% block profileBody %}
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Créé le</th>
                    <th>Modifié le</th>
                    <th>État</th>
                    <th>Mode de paiement</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for cart in app.user.carts %}
                    <tr>
                        <td>{{ cart.createdAt|date('d/m/Y H:i') }}</td>
                        <td>{{ cart.updatedAt|date('d/m/Y H:i') }}</td>
                        <td>{{ cart.place|get_place_label }}</td>
                        <td>{{ cart.methodPayment|get_payment_label }}</td>
                        <td>{{ cart.total|price_humanize }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
