{% extends 'base.html.twig' %}

{% block title %}
    Réinitialiser votre mot de passe - {{ parent() }}
{% endblock %}

{% block body %}

        {{ component('TopBannerComponent',{
            'title':'Réinitialiser votre mot de passe',
        }) }}
<div class="container">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    {{ form_start(requestForm) }}
                    {{ form_row(requestForm.email) }}
                    <div>
                        <small>
                            Saisissez votre adresse électronique et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                        </small>
                    </div>

                    <button class="btn btn-primary">Envoyer un e-mail de réinitialisation du mot de passe</button>
                    {{ form_end(requestForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
