<section id="reserver" data-aos="fade-up" data-aos-delay="0">
    <div class="container">
        <h2 class="text-center">Nous vous proposons {{ modules|length }} modules de cours !</h2>

        <ul class="list-group" id="modules">
            {% for module in modules %}
                <li class="list-group-item align-items-start ps-5" style="border-left: 10px solid {{ module.color }}">
                    <div class="row w-100">
                        <div class="col-md-2">
                            <div class="fw-bold" data-bs-toggle="collapse" href="#collapseModule{{ module.id }}" role="button" aria-expanded="false" aria-controls="collapseModule{{ module.id }}">
                                <span class="me-5">Module {{ module.number }}</span>
                            </div>
                        </div>
                        <div class="col-md-10">
                            {{ module.name }}
                        </div>
                    </div>

                    <div class="collapse" id="collapseModule{{ module.id }}" data-bs-parent="#modules">
                            {{ module.description|raw }} <br>
                            <ul class="list-group">
                                {% for subModule in module.subModules %}
                                    <li class="list-group-item">{{ subModule.name }}</li>
                                {% endfor %}
                            </ul>
                    </div>

                </li>
            {% endfor %}
        </ul>
    </div>
</section>