<div{{ attributes }}>
    {% set flow = this.flow %}


    <div class="container">
        {% if this.cart %}

            {%- if flow.getStepLabels() is not empty -%}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for step in flow.steps %}
                            <li class="breadcrumb-item{{ step.number == flow.currentStepNumber?' text-primary':'' }}">
                                {{- step.label | trans -}}
                            </li>
                        {% endfor %}
                    </ol>
                </nav>
            {%- endif -%}


            <div class="row">
                <div class="col-md-6">
                    {% if flow.currentStepNumber == 1 %}
                        {{ form_start(form) }}
                    {% else %}
                        {{ form_start(form, {attr: {'data-model': 'norender|*'}}) }}
                    {% endif %}

                    {% if flow.currentStepNumber == 1 %}
                        {% for cartItem in form.cartItems %}
                            {% set value = cartItem.vars.value %}
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h5 class="mb-0">{{ value.moduleName }}</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-5">
                                            {{ form_widget(cartItem.quantity) }}
                                        </div>
                                        <div class="col-md">
                                            {{ form_widget(cartItem.location) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% elseif flow.getCurrentStepNumber() != flow.getLastStepNumber() %}
                        <div class="card mb-3">
                            <div class="card-body">
                                {{ form_rest(form) }}
                            </div>
                        </div>
                    {% else %}
                        {{ form_rest(form) }}
                    {% endif %}
                    {{ form_errors(form) }}


                    {#                    {% include '@CraueFormFlow/FormFlow/buttons.html.twig' %} #}
                    {% include 'components/CheckoutParts/_form-buttons.html.twig' %}

                    {{ form_end(form) }}
                </div>
                <div class="col-md-6">
                    {% include 'components/CheckoutParts/_right-recap.html.twig' %}
                </div>
            </div>
        {% else %}
            <div class="alert alert-info mb-0">
                Pas de panier
            </div>
        {% endif %}
    </div>
</div>
