<div {{ attributes.defaults(stimulus_controller('checkout_calendar')) }}>
    <div class="row">
        <div class="col-md-8">
            <div id="calendar"
                 data-start-at="{{ shedule.startAt|date('Y-m-d H:i:s') }}"
                 data-end-at="{{ shedule.endAt|date('Y-m-d H:i:s') }}"
                 data-events="{{ this.events|json_encode }}"
            >
            </div>
        </div>
        <div class="col-md-4">
            {% if cart %}
                <div class="card">
                    <div class="card-header">
                        <h6>Mon panier</h6>
                    </div>
                    <div class="card-body">
                        <div class="list-group">
                            {% for item in cart.cartItems %}
                                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{ item.module.name }}</h5>
                                        <small>{{ item.price|price_humanize }}</small>
                                    </div>
                                    <p class="mb-1">
                                        Début : {{ item.moduleDateTime|date('d/m/Y H:i') }}
                                    </p>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
