<div {{ attributes.defaults(stimulus_controller('checkout_calendar')) }}>
    <div class="row">
        <div class="col-md-8">

            {% set occurencesAddedToCart = this.occurencesAddedToCart %}
            <ul class="list-group">
                {% for module in modules %}
                    <li class="list-group-item" aria-current="true" style="border-left: 10px solid {{ module.color }}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Module {{ module.number }} <br> {{ module.name }}</h5>
                            <small class="text-nowrap">{{ module.price|price_humanize }}</small>
                        </div>
                        <div class="list-group">
                            {% for mainModule in this.getModulesOccurences(module) %}
                                <a href="#" class="list-group-item list-group-item-action event-add-to-cart{{ mainModule.occurenceId in this.occurencesAddedToCart ? ' active':'' }}" aria-current="true"
                                   data-module-id="{{ module.id }}"
                                   data-occurence-id="{{ mainModule.occurenceId }}"
                                >
                                        Du {{ mainModule.start|carbon_format('l jS F Y') }}
                                        au {{ mainModule.end|carbon_format('l jS F Y') }}
                                        <br>
                                        Entre {{ mainModule.start|carbon_format('H:i') }}
                                        et {{ mainModule.end|carbon_format('H:i') }}
                                </a>
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            {% if cart %}
                <div class="card sticky-top">
                    <div class="card-header">
                        <h6 class="mb-0">Modules</h6>
                    </div>
                    <div class="card-body">
                        {% if cart.cartItems|length > 0 %}
                            <ul class="list-group">
                                {% for item in cart.cartItems %}
                                    <li class="list-group-item" aria-current="true" style="border-left: 10px solid {{ item.module.color }}">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">Module {{ item.module.number }} <br> {{ item.module.name }}</h5>
                                            <small class="text-nowrap">{{ item.price|price_humanize }}</small>
                                        </div>

                                        <p>
                                            Du {{ item.mainModule.start|carbon_format('l jS F Y') }}
                                            au {{ item.mainModule.end|carbon_format('l jS F Y') }}
                                            <br>
                                            Entre {{ item.mainModule.start|date('H:i') }}
                                            et {{ item.mainModule.end|date('H:i') }}
                                        </p>
{#                                        <button class="text-danger btn btn-link" type="button" data-action="live#action"#}
{#                                                data-action-name="removeCartItem(cartItemId={{ item.id }})">#}
{#                                            Supprimer#}
{#                                        </button>#}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="alert alert-info" role="alert">
                                Pas encore de module choisis
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <a href="{{ path('APP_CHECKOUT') }}" class="btn btn-primary">
                            Procéder au paiement
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
