<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top mb-5 shadow">
    <div class="container">
        <a class="navbar-brand" href="{{ path('APP_HOMEPAGE') }}">
            Cours Stéphan
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="{{ path('APP_MODULES') }}">
                        Nos modules de cours
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="{{ path('APP_PROFESSOR') }}">
                        L’équipe
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="{{ path('APP_TARIF_FONCTIONNEMENT') }}">
                        Les tarifs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="{{ path('APP_CONTACT') }}">
                        Contact
                    </a>
                </li>
            </ul>
            <div class="col-md-3 text-end">
                {% if app.user %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.userIdentifier }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a href="" class="dropdown-item">
                                    Profile
                                </a>
                            </li>
                            {% if app.user.cart %}
                                <li>
                                    <a href="{{ path('APP_CHECKOUT_RECAP') }}" class="dropdown-item">
                                        Panier
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('APP_LOGOUT') }}" class="dropdown-item">
                                    Déconnexion
                                </a>
                            </li>
                        </ul>
                    </div>

                {% else %}
                    <a href="{{ path('APP_LOGIN') }}" class="btn btn-outline-primary me-2">
                        Se connecter
                    </a>
                    <a href="{{ path('APP_REGISTER') }}" class="btn btn-primary me-2">
                        S'inscrire
                    </a>
                {% endif %}

            </div>
        </div>
    </div>
</nav>