{% macro moduleCard(module) %}
    <a  href="{{ path('APP_RESERVATION_SCHEDULES_BY_MODULE', {'moduleId': module.id}) }}" class="module card h-100" style="border-top:10px solid {{ module.color }};">
        <div class="card-header text-center">
            <img src="{{ asset('images/logo-simpliest.png') }}" alt="Logo" class="img-fluid mb-3" width="50">
            <h5 class="mb-0">
                <strong>Module {{ module.number }}</strong> <br>
                {{ module.name }}
            </h5>
        </div>
        <div class="card-body">
            <ul>
                {% for subModule in module.subModules %}
                    <li>{{ subModule.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-footer">
            {{ module.price|price_humanize }} pour 6h de cours
        </div>
    </a>
{% endmacro %}